<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <style>
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                background-color: #0d0e0f;
            }

            body {
                color: white;
                font: 400 1rem "Roboto", sans-serif;
            }

            p,
            .centered {
                text-align: center;
            }
        </style>
        
        <title>Pokemon API</title>
    </head>

    <body>
        <br><br>
        <h1 style="text-align: center">Your Crafted Team</h1><br><br>

    <p><strong>Pokemon 1:</strong> <%- pokemon1 %></p><br><br>
    <p><strong>Pokemon 2:</strong> <%- pokemon2 %></p><br><br>
    <p><strong>Pokemon 3:</strong> <%- pokemon3 %></p><br><br>
    <p><strong>Pokemon 4:</strong> <%- pokemon4 %></p><br><br>
    <p><strong>Pokemon 5:</strong> <%- pokemon5 %></p><br><br>
    <p><strong>Pokemon 6:</strong> <%- pokemon6 %></p><br><br>


    <div class="centered"><a href="/">HOME</a></div>

    </body>
</html>